root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Web / Svelte / TS use 2-space
[*.{js,ts,svelte,html,css,json}]
indent_style = space
indent_size = 2

# YAML must use spaces
[*.{yml,yaml}]
indent_style = space
indent_size = 2
