PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=secret
DB_NAME=opencw

# Generate token by: openssl rand -base64 32
JWT_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=OpenCW <onboarding@resend.dev>

GIN_MODE=debug
